html{ 
	height: 100% 
}

*{
	font-family: 'Lato', sans-serif;
}

body{
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: 'Lato', sans-serif;
	overflow-y: hidden; 
}

#mapa{
    width:100%; 
	height: 92.4%; 
	margin-top: 50px;
}

.tableElement{
	width: 100%;
	padding: 8px;
	font-size: 13.5px;
	background: #292929;
	margin-bottom: 2px;
}

#idvoo{
	margin-top: 5px;
}

.tableHead{
	width: 100%;
	height: 50px;
	padding: 10px;
	background: #292929;
	z-index: 99999;
	-webkit-box-shadow: -1px 5px 3px 0px rgba(0, 0, 0, 0.95);
	-moz-box-shadow:    -1px 5px 3px 0px rgba(0, 0, 0, 0.95);
	box-shadow:         -1px 5px 3px 0px rgba(0, 0, 0, 0.95);
}

.point{
	font-weight: 600;
}

.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.flightsearchbox{
	margin-top: 8px;
}

.msgAlerta{
	display: none;
	width: 500px;
	position: absolute;
	top: 70px;
	z-index: 99999;
	left: 50%;
	margin-left: -250px;
}

.msgErro{
	display: none;
	width: 500px;
	position: absolute;
	top: 70px;
	z-index: 99999;
	left: 50%;
	margin-left: -250px;
}

.bottomright{
	position: absolute;
	width: 150px;
	float: right;
	right: 20px;
	bottom: 20px;
	z-index:999999;
	opacity: 0.5;
	position: fixed;
}

.radarlogo img{
	width: 150px;
}

.loadMessages{
	position: absolute;
	z-index: 99999;
	top:50%;
	width: 500px;
	left: 50%;
	margin-left: -240px;
	margin-top: -40px;
	text-align: center;
	color: #fff;
}

.loading{
	width: 100%;
	height: 100%;
	background: #333;
	color: #fff;
	z-index: 9999;
}

.info{
	font-weight: 300;
}

.close{
	font-size: 15px;
	margin-top: 15px;
	margin-right: 10px;
	height: 15px;
	width: 15px;
}

.tipbox{
	position: absolute;
	width: 150px;
	float: right;
	right: 20px;
	top: 120px;
	z-index:999999;
	opacity: 0.5;
}

.alert {
  padding: 15px;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  right: 10px;
  float: right; 
  clear: right;
  z-index: 99999999999;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}